<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
    <!-- properties configuration -->
	<bean id="utf8Properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list><value>classpath:test-utf8.properties</value></list>
        </property>
        <property name="fileEncoding"><value>UTF-8</value></property>
    </bean>
    
    <!-- global configuration of the application -->
    <context:property-placeholder properties-ref="utf8Properties" />

    <!-- load in context all classes annotated with @Component, @Repository, @Service, or @Controller  -->
    <context:component-scan base-package="fr.landel.utils.web"/>
</beans>